:root {
  --color-primary : #6741d9 ;
  --color-primary-light : #7950f2 ; 
  --color-text : #dee2e6 ; 
  --color-text-dark : #adb5bd ; 
  --color-background-100 : #343a40 ; 
   --color-background-500 : #2b3035 ;
    --color-background-900 : #212529 ; 
    --color-red : #fa5252 ; 
    --color-red-dark : #e03131 ; 
}
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color-background-900);
  color: var(--color-text);
}
/* //////////////////////////Navbar//////////////////// */
nav{
  background-color: var(--color-primary);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin: 25px;
   padding: 20px 15px ;
   border-radius: 10px;
}
.logo-img{
  font-size: 25px;
}
.title{
  font-size: 25px;
  font-weight: 700;
}
.search{
  border: none;
  border-radius: 10px;
  padding: 10px 15px ;
  text-align: center;
  width: 200px;
 cursor: pointer;
 transition: 1s;
}
.search::placeholder{
  color: var(--color-text-dark);
}
.search:focus{
  outline: none;
  box-shadow: 1px 1px 20px rgb(41, 27, 27);
  transform: translateY(-2px);
}
/* ////////////////////////////////Main/////////////////////// */
.main-container{
 
  margin-top: 70px ;
  min-height: 700px;
  display: flex;
  justify-content: center;
  
}
.box{
  border-radius: 10px;
  height: 600px;
  width: 35%;
  margin: 0px 80px;
  background-color: var(--color-background-500);
  overflow: scroll;
  position: relative;
}
.btn-toggle{
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  aspect-ratio: 2;
  border-radius: 50%;
  font-size: 25px;
  padding: 0 10px ;
  background-color: var(--color-background-900);
  color: var(--color-text);
}
/* ///////////////////////////////////////Movie List Box////////////////////////////////////////// */
.movie-list-container img{
  height: 120px;
  border-radius: 8px;
}

.movie-Card{
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.movie-card-info{
  margin-left: 10px;
}
.movie-card-info h3{
  margin-bottom: 10px;
}
/* ////////////////////////////////////////movie watched box/////////////////////////////////////////// */
.watched-summary{
  border-radius: 12px;
  box-shadow: 1px 1px 10px black;
  text-align: center;
  padding: 10px;
}
.summary-info{
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}
.watched-card{
  display: flex;

  border-bottom: solid 1px;
 padding: 20px;
}
.watched-card img {
 height: 120px;
  border-radius: 8px;
}
.watched-list-container{
  width: 70%;
  padding: 10px;
}
.watched-list{
  display: flex;
   margin-top: 10px;
  justify-content: space-around;
}